<component name="ArtifactManager">
  <artifact type="exploded-war" name="Spring_MVC_Controller:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/Spring_MVC_Controller_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="Spring_MVC_Controller/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Spring_MVC_Controller" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:4.3.18.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.3.19" />
        </element>
      </element>
    </root>
  </artifact>
</component>